// sass --watch src/scss/main.scss:src/styles/main.css

@import 'variables';

body {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	#root {
		//
		.main-content {
			//
			.hero-section {
				position: relative;
				height: 100vh;
				// width: 100%;

				.overlay {
					height: 100vh;
					// width: 100%;

					.image {
						background-image: url('https://res.cloudinary.com/fullstackcaveman/image/upload/v1632598139/Montana%20Mountain%20Retreats/7-bg-mount-011_x852bm.webp');
						background-repeat: no-repeat;
						background-size: cover;
						height: 100vh;
					}
				}

				.overlay:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					background-color: rgba(0, 0, 0, 0.7);
					z-index: 1;
					height: 100%;
				}

				.hero-section-content {
					padding: 0;
					width: 100%;
					text-align: center;
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 2;

					img {
						width: 400px;
					}

					h1 {
						font-family: $logo-font;
						font-size: 5rem;
						font-weight: 100;
						color: white;
					}

					p {
						color: white;
						font-size: 2rem;
						margin-top: 30px;
						font-style: italic;
					}

					i {
						color: white;
						margin: 0;
					}
				}

				.site-header {
					width: 100%;
					nav {
						display: flex;
						justify-content: space-between;
						align-items: center;
						text-align: center;
						padding: 10px;
						a {
							h2 {
								font-family: $logo-font;
								font-size: 3rem;
								color: $logo-color;
								font-weight: 100;
							}
						}
						a {
							img {
								height: 50px;
							}
						}
					}
				}
			}

			.schedule-section {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				margin: 20px 0;

				.heading {
					h1 {
						font-family: $logo-font;
						font-weight: 100;
						font-size: 4rem;
					}
				}
			}
		}

		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			width: 100%;
			padding: 5px 20px;
			background-color: black;
			color: white;

			p {
				padding: 10px;
				margin: 0;
			}
		}
	}
}
